runtime = electron
target = 1.7.10
arch = x64
target_arch = x64
dist_url = https://atom.io/download/electron
build_from_source = false
home=~/.electron.gyp npm install
msvs_version = 2015
python = 2.7
