#sidenav {
  width: 40%;
}

.btn-toolbar button{
  margin-right: 6px;
}

#sidebar {
  min-width: 350px;
  //transition: all 0.3s;
}

#sidebar.collapsed {
  min-width: 80px;
  max-width: 80px;
}
#sidebar i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  margin-left: 10px;
}
